.project-nav-tabs {
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 1307px;
	height: 46px;
	font-size: 16px;
    z-index: 50;
    background-color: #eee;
    position: fixed;
}

.project-nav-tabs>a:visited {
	color: #555;
}

.project-nav-tabs>a:hover {
	color: #03a9f4;
}

.project {
	height: 46px;
	cursor: hand;
	padding-top: 13px;
	padding-left: 23px;
	display: block;
	font-weight: bold;
	float: left;
	color: #000;
}

.project>span {
	margin-left: 4px;
}

.project-nav-tab {
	display: block;
	padding-top: 13px;
	padding-left: 35px;
	padding-right: 20px;
	float: left;
}

.project-setting {
	float: right;
	margin-right: 21px;
	margin-top: 15px;
	color: #000;
	font-size: 14px;
}

.project-model {
    margin-left: 20px;
    margin-top: 97px;
    width: 200px;
    font-size: 17px;
}