<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.ntu.pms.model.Project">
  <resultMap type="Project" id="projectMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
    <result column="creator" property="creatorId"/>
    <result column="state" property="state"/>
  </resultMap>
  
  <resultMap type="com.ntu.pms.dto.ProjectDTO" id="projectDTOMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="description" property="description"/>
    <result column="create_time" property="createTime"/>
    <result column="creator" property="creatorId"/>
    <result column="state" property="state"/>
  </resultMap>
  
  <select id="getById" parameterType="Integer" resultMap="projectMap">
    <![CDATA[
        SELECT * FROM _project WHERE id = #{id} AND state <> 0
    ]]>
  </select>

  <select id="getDTOById" parameterType="Integer" resultMap="projectDTOMap">
    <![CDATA[
        SELECT * FRPM _project WHERE id = #{id} AND state <> 0
    ]]>
  </select>
  
  <select id="findProjectDTOByUser" parameterType="Integer" resultMap="projectDTOMap">
    <![CDATA[
        SELECT
            p.*
        FROM
            _project p
            LEFT OUTER JOIN _project_user pu ON p.id = pu.project_id
        WHERE
            pu.user_id = #{userId}
            AND p.state = 1
    ]]>
  </select>
  
  <select id="findFiledProjectDTOByUser" parameterType="Integer" resultMap="projectDTOMap">
    <![CDATA[
        SELECT
            p.*
        FROM
            _project p
            LEFT OUTER JOIN _project_user pu ON p.id = pu.project_id
        WHERE
            pu.user_id = #{userId}
            AND p.state = 2
    ]]>
  </select>
  
  <update id="update" parameterType="Project">
    <![CDATA[
        UPDATE
            _project
        SET
            name = #{name}, description = #{description}, state = #{state}
        WHERE
            id = #{id}
    ]]>
  </update>
  
  <update id="delete" parameterType="Integer">
    <![CDATA[
        UPDATE _project SET state = 0 WHERE id = #{id}
    ]]>
  </update>
</mapper>