<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="com.ntu.pms.model.User">
  <resultMap type="User" id="userMap">
    <id column="id" property="id"/>
    <result column="name" property="name"/>
    <result column="job_number" property="jobNumber"/>
    <result column="email" property="email"/>
  </resultMap>
  
  <select id="getById" parameterType="Integer" resultMap="userMap">
    <![CDATA[
        SELECT * FROM _user WHERE id = #{id}
    ]]>
  </select>
  
  <select id="getUserByEmail" parameterType="String" resultMap="userMap">
    <![CDATA[
        SELECT * FROM _user WHERE email = #{email}
    ]]>
  </select>
  
  <select id="checkUser" parameterType="String" resultType="String">
    <![CDATA[
        SELECT password FROM _user WHERE email = #{email}
    ]]>
  </select>
  
  <select id="getMaxJobNumber" resultType="String">
    <![CDATA[
        SELECT job_number FROM _user ORDER BY job_number DESC LIMIT 1
    ]]>
  </select>
  
  <insert id="add"  parameterType="User" useGeneratedKeys="true" keyColumn="id">
    <![CDATA[
        INSERT INTO _user(name, job_number, email, is_active, password)
        VALUES(#{name}, #{jobNumber}, #{email}, #{isActive}, #{password})
    ]]>
  </insert>
  
  <update id="update" parameterType="User">
    <![CDATA[
      UPDATE _user u SET
        u.user_name = #{name}
      WHERE u.uuid = #{uuid}
    ]]>
  </update>
  
  <delete id="delete" parameterType="String">
    <![CDATA[
      UPDATE _user SET
        is_active = 0
      WHERE uuid = #{uuid}
    ]]>
  </delete>
</mapper>