.tag-picker-list {
    padding-top: 10px;
    padding-left: 0px;
    height: 44px;
}

.tag-picker-list>li {
    position: relative;
  float: left;
  margin: 0 10px 0 0;
  list-style: none;
}

.tag-picker-list>li .tag {
      position: relative;
  margin: 0 0 5px;
  padding: 2px 10px;
  line-height: 20px;
  z-index: 1;
    border-radius: 12px;
    max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
    display: inline-block;
      color: grey;
  vertical-align: baseline;
  background-color: #e1e1e1;
}

.tag-label {
    float: left;
  margin: 7px 8px 0 0;
  width: 6px;
  height: 6px;
    border-radius: 3px;
      background-color: #a6a6a6;
      -webkit-transition: all ease .2s;
        display: inline-block;
}

.tag-picker-list>li .remove-tag-handler {
  display: block;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 0;
  background-color: rgba(0,0,0,.3);
  color: #d9d9d9;
  text-align: center;
  font-size: 16px;
  line-height: 12px;
  z-index: 0;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-transition: opacity 218ms ease;
  -o-transition: opacity 218ms ease;
  transition: opacity 218ms ease;
  }

.add-tag-handler {
  display: block;
  font-size: 24px;
  color: #a6a6a6;
}

.small-text {
    display:inline;
    width:90px;
}